.container {
    opacity: 0.75;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reg {
    color: red;
  font-family: "Monoton", cursive;
}

.reg-below {
    margin-top: 20px;
}