.list-overflow-container {
  max-height: 545px;
  /* border: 5px #DDDDDD solid; */
  border-radius: 4px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  opacity: .75;
}

/* .list-overflow-container ul {
  margin: 0;
} */

/* .list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
} */

.list-overflow-container li * :hover {
  cursor: pointer;
  color: red;
}


.list-overflow-container li a {
  color: #2A878C;
  font-size: 1.5rem;
}

/* .list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
} */
