.list-overflow-container {
  max-height: 545px;
  border-radius: 4px;
  /* overflow-x: hidden; */
  opacity: .75;
}

.list-overflow-container li * :hover {
  cursor: pointer;
  color: red;
}


.list-overflow-container li a {
  color: #2A878C;
  font-size: 1.5rem;
}

.list-overflow-container li:last-child {
  margin-bottom: 10vh;;
} 

.list-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}
